/* #footer {
    width: 100%;
    padding: 15px 0;
    background-color: #8c1515;
    border: 0;
    border-top: 5px solid #a07617;
} */
.weblink .weblink-card-wrapper {
    display: flex;
    width: 20%;
    padding-left: .875rem;
    padding-right: .875rem;
    margin-bottom: calc(.875rem * 3.5);
}
.con{
    max-width: 100%;
    height: auto;
    background:url(https://i.pinimg.com/564x/3d/ae/91/3dae916afdcdf00e62fe9baefaf506c8.jpg);
}

.don{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background:url(https://board.postjung.com/data/653/653005-img-1358520145-7.jpg);

}

.eon{
    max-width: 100%;
    height: auto;
    background:url(https://images.wallpaperscraft.com/image/gradient_green_texture_131365_300x168.jpg);
}

